<div class="modal fade" id="modal-canvass">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List of Canvass | PR Amount: <span id="PRAmount"></span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Timelime example  -->
                <div class="row">
                    <div class="col-md-12">
                        <table id="dtCanvassList" class="table table-bordered table-hover" style="width: 100%"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            </div>
        </div>
    </div>
</div>
